body{

 margin: 0% !important;
 background-color: rgb(56, 56, 214) !important;

}

.cardContainer{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}