body{

 margin: 0% !important;
 background-color: rgba(0,0,0,0.4) !important;

}

.cardContainer{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
   
   .card{

   flex-direction: row !important;

   }

   .cardWidth{

    width: 60% !important;

   }

   .rowWidth{

    width: 100%;

   }
   
   .colWidth{

    width: 30%;

   }

   .anserWidth{

    width: 100%;

   }

   .blueBackground{
   
     background-color:rgb(56, 56, 214) ;
   
   }

   .centered{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }

   .rubikRegular{

    font-family: 'Rubik',sans-serif;

   }

   .white{

    color: whitesmoke;

   }

   .margin{

    margin-top: 12px;
    margin-bottom: 12px;

   }

   .welcomeText{

    position: relative;
    right: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

   .startImg{

     width: 100%;
     height: 100%;
     position: relative;
     left: 45%;

   }

   .welcomeText span{

    font-family: 'PT Sans', sans-serif;
    font-weight: bold;

   }

   .clickToStart{

    margin-top: 30px;

   }

   .startScreen{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

   }

    .positionRelative{

      position: relative;

    }

    .greyBackground{

     background-color: rgba(0,0,0,0.1);

    }

    .quizContainer{

    width: 100%;

    }


    .rubikMedium{

        font-family: 'PT Sans', sans-serif;
        font-weight: 600 ;

    }

    .paddingCard{

        padding-left: 100px !important;
        padding-right: 100px !important;
        padding-bottom: 50px;
        padding-top: 40px;

    }

    .nextQuestionBox{

     display: flex;
     width: 100%;
     justify-content: space-between;
     margin-top: 10px;

    }

    .finalScreen{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(247,213,187);
        padding-bottom: 50px;
        border-radius: 50%;
        padding-top: 18px;

    }

    .finalImg{

        width: 50%

    }

    .finalText{

      margin-top: 20px;
      margin-bottom: 25px;
      flex-direction: column;
      align-items: center;

    }
    
    .rubikBold{

    font-family: 'Rubik', sans-serif;
    font-weight: bold;

    }

    .smallMargin{

        margin-bottom: 2px;
        font-size: 20px;

    }


    .orange{

     color: orange;

    }

    .blue{

      color: blue;
      

    }

    .fontSize{
        font-size: 20px;
    }
    
    
    .sideMargin{
        margin-right: 30px;
    }

    .orangeBackground{
      background-color: rgb(255,78,15);
      margin-top: 16px;
      margin-bottom: 15px;
    }

    .btnDesignShare{
        width: 32%;
        height: 32px;
        border: none;
        border-radius: 6px;
    }

    .btnDesignReplay{
        border: none;
        background-color: transparent;
    }

    .d-none{
       display: none;
    }

    .replayBtn{
        border: none;
        background-color: transparent;
    }

    .text1{

        width: 100px;
   
        }
   
        .text2{
   
        width: 200px;
   
        }
   
        .text3{
   
         margin-top: 26px;
   
        }

    @media (max-width:992px){

     .card{

        flex-direction: column !important;
        height: 90%;
        width: 100% !important;
     }

     .col-md4{

        width: 100% !important;
     }

    

     .col-md-8{
 
        width: 100% !important;
        height: 80% !important;
      }

     .row-g-0{

        flex-wrap: nowrap;
        flex-direction: column;
     }

     .centered{
        justify-content: space-evenly;
        flex-direction: row;
     }

     .row{

      height: 100%;

     }

     .startImg{

        left: 20%;

     }

     .welcomeText{

        right: 31%;

     }

     .text1{

     width: 100px;

     }

     .text2{

     width: 200px;

     }

     .text3{

      margin-top: 26px;

     }


    }

    @media (max-width:880px){

        .welcomeText{

            right: 35%;
    
         }


    }

    @media (max-width:835px){

        .welcomeText{

            right: 40%;
    
         }


    }

    @media (max-width:770px){

        .welcomeText{

            right: 45%;
    
         }


    }

    @media (max-width:770px){

        .welcomeText{

            right: 45%;
    
         }


    }

    @media (max-width:660px){

        .welcomeText{

            right: 50%;
    
         }


    }

    @media (max-width:660px){

        .welcomeText{

            right: 50%;
    
         }


    }

    @media (max-width:580px){

        .welcomeText{

            right: 55%;
    
         }


    }

    @media (max-width:580px){

        .welcomeText{

            right: 55%;
    
         }


    }

    @media (max-width:540px){

        .welcomeText{

            right: 60%;
    
         }


    }

    @media (max-width:460px){

        .welcomeText{

            right: 42%;
    
         }

         .startImg{

            left: 47%;

         }

        h2{

         font-size: 18px;

        }

        .card-body{

        font-size: 12px;

        }

        .anserWidth{

          font-size: 12px;

        }

        .btnDesignShare{

            width: 40%;

        }




    }

    @media (max-width:400px){

        .welcomeText{

            right: 49%;
    
         }


    }

    @media (max-width:375px){

        .welcomeText{

            right: 53%;
    
         }


    }


  